apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gp3 # Keeping the name gp3 so you don't have to change your Helm values
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: rancher.io/local-path
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
